* {
  /*margin: 0;*/
  /*padding: 0;*/
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;100%;

  font-family: Lato, Tahoma, Arial, sans-serif;
  background-color: #ddd;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

header {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

main {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flash {
  /*margin: 10px 20px;*/
  padding: 12px 20px;
  
  display: block;
  border: 2.5px solid #ffeed7;
  border-radius: 4px;
  background-color: #fff2de;
  color: #ffb948;

  font-size: 14px;
  font-weight: normal;
  line-height: 25px;
}

.flash-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.flash-success {
  background-color: #def2de;
  border-color: #d3eed7;
  color: #4ab948;
}

footer {
  flex: 0 1 auto;

  background-color: #333;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

