
.form-container {
}

.form-content {
  width: 90%;
  max-width: 720px;
  margin: 30px auto;
}

.form-content label {
  display: block;
}

.form-content input, .form-content select, .form-content textarea,
.form-content button {
  width: 100%;

  display: block;
  margin-top: 10px;
  border: #555 1.5px solid;
  padding: 12px 14px;
  font-size: 16px;
}

.form-content input:focus, .form-content select:focus,
.form-content textarea:focus, .form-content button:focus {
  border-color: #0c0c0c;
}

.form-content textarea {
  height: 150px;
}

.form-content .action {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.form-content button[type=submit] {
  padding: 12px 16px;
  margin: 8px 0;

  width: auto;
  background-color: #333;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #333;
}

.form-content button[type=button] {
  padding: 12px 16px;
  margin: 8px 0;
  
  width: auto;
  background-color: #ffffff;
  color: #7c3abc;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #7c3abc;
}

.form-content button:hover {
  background-color: #555;
  color: #ffffff;
  border: 1px solid #555;
}

